
/* 

      CSS Guide

      1. General Styles
      2. Grid
      3. Header
      4. Main Hero
      5. About
      6. Product-con
      7. Ad img
      8. Footer

*/

/* 1. ---General Styles--- */

.hidden {
	display: none;
}

a {
	text-decoration: none;
}


body {
      font-family: 'Fino Sans', Arial, Helvetica, sans-serif;
      font-size: 16px;
      background-color: #fff;
}


img, video, object {
      max-width: 100%;
}


#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid {
      display: grid;
      grid-template-columns: repeat(4, 85px);
      grid-column-gap: 30px;
    
}


/* 3. ---Header--- */

#main-nav {
      background-color: #FFC738;
      grid-column: 1/-1;
      display: flex;
      justify-content: flex-end;
    }
    
    #main-nav label img {
      background: url(../images/burger.svg) center no-repeat;
      border: 1px;
      width: 20px;
      height: 20px;
      transition: all .5s ease;
      margin-top: 15px;
      margin-bottom: 20px;
      margin-right: 20px; 
      cursor: pointer;
    }
    
    #main-nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    #main-nav li a {
      width: 300px;
      display: block;
      padding: 10px 0 10px 0;
      text-align: center;
      color: #626262;
    }
    
    #main-nav li {
      border-bottom: 2px solid #1E346E;
    }
    
    #main-nav li:first-child {
      border-top: 1px solid #efefef;
    }
    
    #main-nav li:last-child {
      margin-bottom: 10px;
    }
    
    #burger-con, #main-nav input {
      display: none;
    }
    
    #main-nav input:checked ~ #burger-con {
      display: block;
    }
    
    #main-nav input:checked ~ label img{
      transform: rotate(-90deg);
    }
    
    #logo {
      display: grid;
      padding: 1rem 1rem 1rem 2rem;
      width: 3rem;
      grid-column: 1/2;
      justify-self: start;
    }
    
/* 4. ---Main Hero--- */


#hero-img1 {
      display: grid;
      grid-column: 1/-1;

      height: 874px;
}

#hero-img2 {
      display: grid;
      grid-column: 1/-1;
      height: 874px;
}


#hero-video {
      margin-top: 150px;
      display: grid;
      grid-column: 1/-1;
}





/* 5. ---About--- */

#about-tex {
      margin-top: 50px;
      padding: 1rem 1rem 1rem;
      display: grid;
      grid-column: 1/-1;
      line-height: 1.5rem;
      font-weight: 400;
      font-style: italic;
      font-size: 20px;
      text-align: center;
}

#about-rotation-img {
      display: grid;
      grid-column: 1/-1;
      padding: 4rem;
      margin-top: 10px;
      width: 314px;
}

#story-con {
      background-color: #FFC738;
      margin-top: 100px;
      text-align: center;
      display: grid;
}

#story-con p {
      display: grid;
      grid-column: 1/-1;
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      line-height: 2rem;
      padding: 1rem 1rem 1rem;
      text-align: center;
      margin-top: 2rem;
}

#ourstory-button {
      display: grid;
      font-size: 24px;
      margin: 1rem 1.5rem 2rem;
      grid-column: 2/-1;
      padding: 1rem;
}

/* 
#ourstory-button:hover {
      background-color: #1E346E;
      color: #FFC738;
      transition: all .3s ease-in-out;
} */



/* 6. ---Product-con--- */


#product-con {
      height: 800px;
      background-color: #1E346E;
      display: flex;
      justify-content: center;
}

.prod-box {
      margin-top: 50px;
      padding-top: 30px;

      background-color: #fff;
      height: 600px;
      width: 340px;

      border-radius: 80px 80px 0 0;

      color: #FFC738;      
      text-decoration: none;
      text-align: center;
}

.prod-box:hover{  
      background-image: url(../images/m-hover-bkg.jpg);
      
}

.prod-box a{

      margin-top: 50px;
      padding: 10px 20px;

      background-color: #fff;
      border-radius: 10px;
      font-size: 16px;

}

.prod-box a:hover{
      background-color: #FFC738;
}

.prod-box p {
      color: #830000;
      margin-top: 20px;
      padding: 1rem ;
      line-height: 1rem;
      font-size: 16px;
}



/* Banner */

#banner-tex {
      margin-top: 100px;
      margin-bottom: 10px;
      font-style: italic;
      font-size: 20px;
      text-align: center;
}

#banner-tex span{
      margin-right: 50px;
      color: #FFC738;
}


/* 7. ---Ad img--- */

#ad-img {
      grid-column: 1/-1;
      display: grid;
      text-align: center;
}

#ad-1 {
      grid-column: 1/-1;
}

#ad-2 {
      grid-column: 1/-1;
}

#ad-img p {
      margin-top: 50px;
      grid-column: 1/-1;
      padding: 1rem 1rem 1rem;
      font-size: 24px;

      margin-bottom: 100px;
}




/* 8. ---Footer--- */

footer {
      height: 1000px;
      background-color:#1E346E;
      display: grid;
}


#footer-logo {
      width: 300px;
      grid-column: 1/4;
      margin-top: 10px;
      padding-left: 4rem;
      padding-right: 4rem;
}

#contact-con {
      grid-column: 1/-1;
      padding: 2rem;
      margin-top: 50px;
      font-size: 10px;
}


#contact-con input {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      font-style: italic;

      margin-bottom: 30px;
      background-color: #1E346E;

      color: #fff;

      padding-bottom: 15px;
}

#contact-con input:focus {
      outline: none !important;
}

#Name_footer{
      width: 250px;
}

#phone_footer {
      width: 250px;
}

#email_footer {
      width: 250px;
}

#message_footer {
      width: 350px;
}

#send_footer {
      border-radius: 40px;
      background-color: #fff;
      align-items: center;
      font-style: italic;

      cursor: pointer;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
}


#send_footer:hover {
      box-shadow: inset 0px -50px 0px 0px #FFC738;
      transition:all .8s ease;
}

#send_footer span {
      color: #110F40;
      margin: 10px;
}

#info-con {
      color: #fff;
      grid-column: 1/4;
      padding-left: 2rem;
}

#info-con h3 {
      font-weight: 700;
      font-style: normal;
      margin-bottom: 1px;
}

#info-con span {
      margin-bottom: 15px;
}

#sm-icons {
      display: flex;
      height: 3rem;
      grid-column: 1/4;
      padding-left: 2rem;;
}

#sm-icons img {
      margin-right: 10px;
}

#ver-line {
      grid-column: 1/-1;
      border-bottom: solid 1px #fff;
      padding: 1rem;
      margin: 2rem; 
}

#ver-line span {
      color: #fff;
      font-size: 14px;
      padding: 1rem;
      margin-bottom: 30px;
}

.footer {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
    }
    
    .back-to-top {
      display: inline-block;
      background-color: #1E346E;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
    }
    
    .back-to-top a {
      color: #fff;
      text-decoration: none;
    }
    






/*---- 9. Our Story page -----*/


#story {
      background-image: url(../images/m-story-bkg.jpg);
      display: grid;
      grid-column: 1/-1;
      
}

#title {
      height: 40px;
      width: 100px;
      margin-top: 50px;
      padding: 10px 50px 0px 50px;

      grid-column: 2/3;
      background-color: #fff;
      color: #110F40;
      border-radius: 20px;

      font-size: 24px;
      text-align: center;
}

.story-img {
      grid-column: 1/-1;
      margin-top: 40px;

}

.story-box {
      grid-column: 1/-1;
      background-color: #78150D;
      height: 544px;
      max-width: fit-content;
      margin-top: 40px;
      display: grid;
      color: #fff;
      padding: 1rem;
}


.story-box h3 {
      font-size: 26px;
      font-weight: bold;
      margin: 1rem 1rem 1rem 1rem;
}
.story-box p {
      margin: 1rem 1rem 1rem 1rem;
      font-size: 18px;
      line-height: 1.5rem;
}


#closing-tex {
      grid-column: 1/-1;
      text-align: center;

      margin-top: 100px;
      margin-bottom: 60px;

      padding: 20px;
      color: #ffffff;
}

#closing-tex p {
      margin-bottom: 30px;
}

#closing-tex span {
      font-size: 23px;
      margin-top: 20px;
      font-style: italic;
}